<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <div th:insert="links.html"></div>
</head>
<body>
  <div th:insert="navbar.html"></div>

  <div class="container">

    <div th:insert="sort.html"></div>

    <div class="col-12">
        <div class="row row-cols-3">
          <div th:each="product : ${products}" class="col d-flex justify-content-center">
            <div class="card mt-4" style="width: 18rem;">
              <img th:src="@{${product.imageUrl}}"
                   class="card-img-top"
                   style="height: 300px; object-fit: cover;"
                   alt="Product img">

              <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"> </h5>
                <p class="card-text" th:text="'Price: ' + ${product.price} + '$'"> </p>
                <a th:href="@{'/products/' + ${product.id}}" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div th:insert="pagination.html"></div>
  </div>
</body>
</html>